.hamba-bg-info {
    background-color: rgba(240, 240, 239, 0.644);
}

.hamba-margin {
    margin-top: 120px;
}

.hamba-bg-color {
    background-color: rgb(228, 228, 228);
}

.hamba-btn-buy-now-1 {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.hamba-btn-buy-now-2 {
    background: linear-gradient(90deg, #daae51 0%, #d53369 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}